BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: InlineOnly
BreakConstructorInitializers: BeforeComma
NamespaceIndentation: All
SeparateDefinitionBlocks: Leave
BraceWrapping:
  AfterStruct: true
InsertTrailingCommas: Wrapped
BinPackArguments: false
AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
SpaceBeforeCpp11BracedList: true
